pre{white-space:pre-wrap}

.logo{width:24px;height:24px;margin-right:10px}

.column>.box:not(.not-fullheight){height:100%}
.column>.card{display:flex;flex-direction:column;height:100%;margin-bottom:0;overflow:hidden}
.column>.card>.card-content{flex:1;margin-bottom:0}

.image{background-size:cover;background-position:center center}
.image.is-square{padding-top:100%}
.image.is-small{width:24px;height:24px}
.image.is-medium{width:28px;height:28px}
.image.is-large{width:64px;height:64px}
.image.is-round{border-radius:50%}
.image.is-rounded{border-radius:6px}
.image.is-inline{float:left;margin-right:12px}

.card-image-tags{position:absolute;top:8px;right:8px}

.dropdown-item{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding-right:1rem}

.medal-column{width:24px;text-align:center}
.medal{width:24px;line-height:24px;text-align:center}
.medal.is-gold,.medal.is-silver,.medal.is-bronze{border-radius:50%;font-weight:600; color:#111}
.medal.is-gold{background-color:#ffd700}
.medal.is-silver{background-color:#c0c0c0}
.medal.is-bronze{background-color:#cd7f32}

@media (min-width: 1024px) {.modal-card.is-large{width:75vw}}
