#include <winnt.h>
#include <winver.h>
#include "resource.h"

// Manifest
ID_MANIFEST MANIFEST "../build/app.min.manifest"

// Icon
ID_ICON_APP ICON "icon.ico"

// English Strings
STRINGTABLE LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
    ID_STRING_APP_NAME "Strepen\x00"
    ID_STRING_WEBVIEW_URL "https://stam.diekantankys.nl/\x00"
    ID_STRING_ABOUT_MENU "About\x00"
    ID_STRING_ABOUT_TITLE "About Strepen Windows App\x00"
    ID_STRING_ABOUT_TEXT_FORMAT "Strepen Windows App v%d.%d.%d.%d\n"
        "Made by Bastiaan van der Plaat\n"
        "Copyright \xA9 2021 - 2022 PlaatSoft\x00"
}

// Dutch Strings
STRINGTABLE LANGUAGE LANG_DUTCH, SUBLANG_DUTCH
{
    ID_STRING_APP_NAME "Strepen\x00"
    ID_STRING_WEBVIEW_URL "https://stam.diekantankys.nl/\x00"
    ID_STRING_ABOUT_MENU "Over\x00"
    ID_STRING_ABOUT_TITLE "Over Strepen Windows App\x00"
    ID_STRING_ABOUT_TEXT_FORMAT "Strepen Windows App v%d.%d.%d.%d\n"
        "Gemaakt door Bastiaan van der Plaat\n"
        "Copyright \xA9 2021 - 2022 PlaatSoft\x00"
}

// Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,3,0,0
PRODUCTVERSION 1,3,0,0
FILEFLAGSMASK 0
FILEFLAGS 0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "CompanyName", "PlaatSoft"
            VALUE "FileDescription", "Strepen"
            VALUE "FileVersion", "1.3.0.0"
            VALUE "InternalName", "Strepen"
            VALUE "LegalCopyright", "Copyright \xA9 2021 - 2022 PlaatSoft"
            VALUE "OriginalFilename", "strepen.exe"
            VALUE "ProductName", "Strepen"
            VALUE "ProductVersion", "1.3.0.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 0x04B0
    }
}
