const String WEBSITE_URL = 'https://stam.diekantankys.nl'; // Insert website url here
const String API_URL = '${WEBSITE_URL}/api';
const String API_KEY = ''; // Insert api key here
const String? GIPHY_API_KEY = null; // Optional: insert Giphy api key here
